body {
    background-image: url(../assets/bikinibottom.jpeg);
    background-repeat: round;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#display-picture {
    height: 40%;
}

#user-input {
    width: 400px;
    text-align: center;
    border-radius: 20px;
}

#output-answer {
    color: white;
    font-size: larger;
    background-color: grey;
    border: black 1px solid;
    padding: 20px;
}

#squidward-label {
    color: white;
    background-color: grey;
}

img {
    border-radius: 20px;
}
